body {
    background-color:azure;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-width: 2px;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    
  }
  
    .foto1{
      width: 22%;
    }
    .foto2{
        width: 19%;
      }
    .foto3{
        width:20%;
      }
    .foto4{
        width: 20%;
      }
    .foto5{
        width: 20%;
      }
    .foto6{
        width: 15%;
      }
    .foto7{
        width: 20%;
      }
    .foto8{
        width: 20%;
      }
    .foto9{
        width: 20%;
      }
    .foto10{
        width: 13%;
      }


      /*     sunlisiti 1 */
      .foto1-1{
        width: 20%;
      }
      .foto1-2{
        width: 19%;
      }
      .foto1-3{
        width: 27%;
      }
      .foto1-4{
        width: 36%;
      }
      .foto1-5{
        width: 24%; 
      }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .foto1{
      width: 51%;
    }
    .foto2{
        width: 40%;
      }
    .foto3{
        width: 40%;
      }
    .foto4{
        width: 50%;
      }
    .foto5{
        width: 45%;
      }
    .foto6{
        width: 37%;
      }
    .foto7{
        width: 50%;
      }
    .foto8{
        width: 50%;
      }
    .foto9{
        width: 53%;
      }
      .foto10{
        width: 31%;
      }
    
      /*     sunlisiti 1 */
      .foto1-1{
        width: 39%;
      }
      .foto1-2{
        width: 39%;
      }
      .foto1-3{
        width: 48%;
      }
      .foto1-4{
        width: 59%;
      }
      .foto1-5{
        width: 38%; 
      }

      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
    
    
      }
}
  
.fotot {
    text-align: center;
   }